<nav class="navbar navbar-expand-sm navbar-dark bg-black">
  <div class="container-fluid">

    <a class="navbar-brand d-flex align-items-center" href="javascript:void(0)">
      <span class="logo-text text-white">AYB</span>
      <span class="logo-highlight text-warning ms-2">STORE</span>
    </a>


    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
      <span class="navbar-toggler-icon"></span>
    </button>


    <div class="collapse navbar-collapse" id="mynavbar">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="products">Products</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="panier">Panier</a>
        </li>
      </ul>


      <form class="d-flex">
        <input class="form-control me-2" type="text" placeholder="Search">
        <button class="btn btn-warning text-dark fw-bold" type="button">Search</button>
      </form>
    </div>
  </div>
</nav>



