



  <footer class="bg-black text-white py-4 mt-5">
    <div class="container text-center">
      <div class="row">

        <div class="col-md-4">
          <h5 class="text-uppercase mb-3">About Us</h5>
          <p>Your one-stop shop for high-quality, unique products. We strive to bring the best to our customers with a seamless shopping experience.</p>
        </div>

        <div class="col-md-4">
          <h5 class="text-uppercase mb-3">Quick Links</h5>
          <ul class="list-unstyled">
            <li><a href="javascript:void(0)" class="text-white text-decoration-none footer-link">Home</a></li>
            <li><a href="javascript:void(0)" class="text-white text-decoration-none footer-link">Products</a></li>
            <li><a href="javascript:void(0)" class="text-white text-decoration-none footer-link">Panier</a></li>
            <li><a href="javascript:void(0)" class="text-white text-decoration-none footer-link">Contact</a></li>
          </ul>
        </div>

        <div class="col-md-4">
          <h5 class="text-uppercase mb-3">Contact</h5>
          <p>Phone: +212-745321345</p>
          <p>Email: support-aybstore.com</p>
        </div>
      </div>
      <hr class="my-4 border-warning">
      <p>&copy; 2024 Ayb Store. All rights reserved.</p>
    </div>
  </footer>


